@font-face {
	font-family: "FiraSans-Bold" ;
	src: url("../fonts/FiraSans/FiraSans-Bold.ttf");
}
@font-face {
	font-family: "FiraSans-Light" ;
	src: url("../fonts/FiraSans/FiraSans-Light.ttf");
}
@font-face {
	font-family: "FiraSans-Medium" ;
	src: url("../fonts/FiraSans/FiraSans-Medium.ttf");
}
@font-face {
	font-family: "FiraSans-Regular" ;
	src: url("../fonts/FiraSans/FiraSans-Regular.ttf");
}
@font-face {
	font-family: "fontawesome-webfont" ;
	src: url("../fonts/FontAwesome/fontawesome-webfont.ttf");
}
@font-face {
	font-family: "FontAwesome" ;
	src: url("../fonts/FontAwesome/FontAwesome.otf");
}
@font-face {
	font-family: "OpenSans-SemiBold" ;
	src: url("../fonts/OpenSans-SemiBold.ttf");
}