body {
	/*background: #f6f6f6;*/
	background: black;

	margin: 0;
	padding: 0;

}

.maincontent {
	display: flex;
	
	flex-direction: column;
}

.header {

	display: flex;
	background: #ffffff;
	height: 80px;
	
		

}

.container1 {

	display: flex;
	align-items: center;
	min-width: 80vw;
	margin-left: 10vw;
	justify-content:  space-between;

}



.user {

	display: flex;
	align-items: center;
	justify-content: flex-start;


}

.gos2 {
	
	height: 60px;
	width: 60px;
	border-radius: 30px;
	border:2px solid #bebebe;

}

.user__username {
	
	margin-left: 20px; 
	font-family: "FiraSans-Regular" ;
	font-size: 18px;

}



.contacts {

	display: flex;
	align-items: center;
	justify-content: flex-end;
	
}

.contacts__link {

	font-family: "FiraSans-Bold" ;
	font-size: 18px;
	color: #32c3e5;
	text-decoration: none;
	border-bottom: 2px  dotted;

}

.contacts__link:hover {

	color: #e85f61;

}


.contacts__dropdown {
	  
	  	background: #ffffff;
	  	display: none;


}

.contacts:hover .contacts__dropdown {

	display: block;
}


.contacts__dropdown-item {

	list-style-type: none;
}