body {
	background: #f6f6f6;
	margin: 0 auto;
	padding: 0;

}

.wrapper {

	width: 100vw;
	height: 100vh;
	align-content: center;
	display: flex;
	align-items: center;
	justify-content: center;

}

.container {

	max-width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;


	
}

.photo {

	position: absolute;
	margin-top: -72px;


}

.gosl {

	border-radius: 70px;
	border:2px solid #bebebe;
	height: 138px;
	width: 138px;

}

.name {


	background: #ffffff;
	height: 154px;
	width: 300px;
	border-radius: 8px 8px 0 0;
	margin: 0 auto ;
	
	
	
}

.FIO {
	font-family: "OpenSans-SemiBold" ;
	margin: 0 auto;
	font-size: 21px;
	text-align: center;
	width: 140px;
	height: 139px;
	align-items: flex-end;
	display: flex;



	
}

.btn {
	background: #33c1e3;
	height: 78px;
	width: 300px;
	border-radius: 0 0 8px 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.perehod {
	font-family: "FiraSans-Bold" ;
	font-size: 14px;
	color: #ffffff;
	background: #33c1e3;
	height: 36px;
	width: 136px;
	border-radius: 25px;
	border:2px solid #f6f6f6;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	display: flex;
	text-decoration: none;


}

.perehod:hover {
	background:#f6f6f6;
	color:#33c1e3;
}

