body {
	background: #f6f6f6;


	margin: 0 auto;
	padding: 0;

}

.wrapper {

	height: 100%;
	width: 100%;
}

.maincontent {
	
}

.header {
	
	display: flex;
	align-items: center;
	background: #ffffff;
	height: 80px;
	width: 100vw;

	
		

}

.container1 {

	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 960px;
	height: 80px;
	margin: 0 auto;
	padding: 0;


}

.header__left {

		

}

.user {

	display: flex;
	align-items: center;
	height: 80px;


}

.user__avatar {
	display: flex;
    align-items: center;
}

.gos2 {
	
	height: 60px;
	width: 60px;
	border-radius: 30px;
	border:2px solid #bebebe;

}

.user__username {
	
	margin-left: 20px; 
	font-family: "FiraSans-Regular" ;
	font-size: 18px;

}

.header__right {

	display: flex;
	
	height: 80px;
	justify-content: center;
	align-items: center;

}

.contacts {

	display: flex;
	
	justify-content: flex-end;

	
}

.contacts__link {

	font-family: "FiraSans-Bold" ;
	font-size: 18px;
	color: #32c3e5;
	text-decoration: none;
	border-bottom: 2px  dotted;
	cursor: pointer;
}

.contacts__link:hover {

	color: #e85f61;
	

}


.contacts__dropdown {
	  	
	  	background: #ffffff;
   		display: none;
    	transition: all .3s ease .15s; 
	  	border: 1px solid;
	  	width: 190px;
	  	height: 135px;
	  	border-color: #bebebe;
	  	border-radius: 8px;
	  	margin-top: 30px; 




}

.contacts:hover .contacts__dropdown {

    display: block; 
    position: absolute;
}


.contacts__dropdown-item {
	display: flex;
	list-style-type: none;
	padding-top: 15px;

}

.contact {
	justify-content: center;
	text-decoration: none;
	color: #414141;
	font-family: "FiraSans-Light" ;
	font-size: 18px;

}

.contact > .fa {

	color: #33c1e3;


}

.content {

	margin-top: 30px;
}

.container2 {

	display: flex;
	justify-content: space-between;
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

.sidebar {

	

}

.nav {
	width: 220px;
}

.nav__list {
	list-style-type: none; 
	margin: 0 auto;
	padding: 0;
	
}

.nav__item {

	color: #32c3e5;
	text-decoration: none;
	cursor: pointer;
	height: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px; 


}

.nav__link {

	font-family: "FiraSans-Regular" ;
	font-size: 18px;
	color: #414141;
	text-decoration: none;
	cursor: pointer;
		
}

.nav__link:hover {

	color: #33c1e3;

}

.nav__item_active > .nav__link {

	font-family: "FiraSans-Bold" ;
	color: #33c1e3;
	

}

.about {

	display: flex;

}

.about__left {

	padding-left: 60px;
}

.gos3 {

	height: 220px;
	width: 220px;
	border-radius: 110px;
}

.about__right {

	padding-left: 60px;
}

.title {

	font-family: "FiraSans-Medium" ;
	font-size: 35px;
	color: #414141;

}

.about__desc {

	width: 395px;
	height: 290px;
	overflow: auto;
}

.about__text {

	font-family: "FiraSans-Light" ;
	font-size: 18px;
	color: #646464;
	line-height: 26px;
}

.about__btns {

	margin-top: 50px;
	display: flex;
	justify-content: flex-end;

}

.btn {

	font-family: "FiraSans-Bold" ;
	font-size: 14px;
	color: #e85f61;
	background: #f6f6f6;
	height: 36px;
	width: 170px;
	border-radius: 25px;
	border:2px solid #e85f61;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	display: flex;
	text-decoration: none;

}

.btn:hover {

	color:  #f6f6f6;
	background: #e85f61;

}

.btn__text {

	padding-left: 10px;

}


.footer {

	position: fixed;
	left: 0;
	bottom: 0;
	background: #414141;
	height: 50px;
	width: 100vw;

}

.container3 {

	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 960px;
	height: 50px;
	margin: 0 auto;
	padding: 0;
}