body {
	background: #f6f6f6;
	margin: 0;
	padding: 0;

}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	min-height: calc(100vh - 100px);
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
}

.photo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.gosl {

	border-radius: 70px;
	border:2px solid #bebebe;
	height: 140px;
	width: 140px;
	position: absolute;
}

.name {

	display: flex;
	align-items: flex-end;
	justify-content: center;
	background: #ffffff;
	height: 154px;
	width: 300px;
	border-radius: 8px 8px 0 0;
	margin-bottom: 20px ;
}

.FIO {
	font-family: "OpenSans-SemiBold" ;
	text-align: center;
	font-size: 21px;
	margin: 20px auto;

	
}

.btn {
	background: #33c1e3;
	height: 78px;
	width: 300px;
	border-radius: 0 0 8px 8px;
	margin-top: -20px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.perehod {
	font-family: "FiraSans-Bold" ;
	font-size: 14px;
	color: #ffffff;
	background: #33c1e3;
	height: 39px;
	width: 140px;
	border-radius: 20px;
	border:2px solid #f6f6f6;
	cursor: pointer;

}

.perehod:hover {
	background:#f6f6f6;
	color:#33c1e3;
}

